<div class="col-lg-12">
    <!--begin::Advance Table Widget 1-->
    <div class="card card-custom card-stretch gutter-b">
        <!--begin::Header-->
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">Viewing Operation #0000000</span>
            </h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body py-0">
            <!--begin::Table-->
            <div class="table-responsive">
                <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                    <thead>
                        <tr class="text-left">
                            <th style="min-width: 150px">Step-by-Step</th>
                            <th style="min-width: 150px">Goal</th>
                            <th style="width: 50px">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pr-0">
                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Create New Operation</span>
                            </td>
                            <td class="pl-0">
                                <button type="button" class="btn" data-toggle="modal" data-target="#modal">
                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Create New Operation</span>
                                </button>
                            </td>
                            <td class="pl-0">
                                <label class="checkbox checkbox-lg checkbox-inline">
                                    <input type="checkbox" value="1" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Table-->
        </div>
        <!--end::Body-->
        <!--begin::Modals-->
        <div class="modal fade" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Operation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="_NewOperation" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary font-weight-bold">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modals-->
    </div>
    <!--end::Advance Table Widget 1-->
</div>