@{
    ViewData["Title"] = "Operations";
}
<script language="JavaScript" type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
<!--begin::Subheader-->
<div class="subheader py-2 subheader-transparent" id="kt_subheader">
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <div class="container">
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            Current Operations
                        </h3>
                    </div>
                    <div class="card-toolbar">                     
                        <!--begin::Modal Button-->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#000000" cx="9" cy="15" r="6" />
                                    <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                            New Operation
                        </button>
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Operation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <partial name="_CreateOperation" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Modal Button-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                            <select class="form-control" id="kt_datatable_search_status">
                                                <option value=""></option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                            <select class="form-control" id="kt_datatable_search_type" name="TypeId"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form-->
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<script>
    var initDataTable = function () {
        var datatable = $('#kt_datatable').KTDatatable({
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: '@Environment.GetEnvironmentVariable("ApiEndpoint")' + '/operation/0/1/10',
                        method: 'GET'
                    },
                },
                pageSize: 10,
            },

            // layout definition
            layout: {
                scroll: true, // enable/disable datatable scroll both horizontal and vertical when needed.
                footer: false // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,

            search: {
                input: $('#kt_datatable_search_query'),
                key: 'generalSearch'
            },

            rows: {
                autoHide: false
            },

            columns: [{
                field: 'operationNo',
                title: 'Follow Up #'
            }, {
                field: 'typeId',
                title: 'Type',
                template: function (row) {
                    var result = "";
                    $.ajax({
                        url: "@Environment.GetEnvironmentVariable("ApiEndpoint")"+"/OperationType/"+ row.typeId,
                        data: {},
                        dataType: 'json',
                        traditional: true,
                        async: false,
                        success: function (data) {
                            result = data;
                        }
                    });
                    return result.data.description;
                }
            }, {
                field: 'progress',
                title: 'Progress',
                template: function (row) {
                    var range = row.progress / 25;
                    var divClass = '';
                        switch (range) {
                            case 0:
                                divClass = 'bg-danger';
                                break;
                            case 1:
                                divClass = 'bg-danger';
                                break;
                            case 2:
                                divClass = 'bg-primary';
                                break;
                            case 3:
                                divClass = 'bg-primary';
                                break;
                            case 4:
                                divClass = 'bg-success';
                                break;
                        }
                    return '\
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">'+row.progress+'%</span >\
                        <span class="text-muted font-size-sm font-weight-bold">Progress</span>\
                        <div class="progress progress-xs w-100">\
                            <div class="progress-bar '+ divClass + '" role="progressbar" style="width: ' + row.progress + '%;" aria-valuenow="'+row.progress+'" aria-valuemin="0" aria-valuemax="100">\
                            </div >\
                        </div >';
                }
            }, {
                field: 'status',
                title: 'Status',
                template: function (row) {
                    var spanClass = '';
                    switch (row.status) {
                        case 'In Progress':
                            spanClass = 'label-light-primary';
                            break;
                        case 'Completed':
                            spanClass = 'label-light-success';
                            break;
                    }
                    return '<span class="label font-weight-bold label-lg label-inline '+spanClass+'"> ' + row.status + '</span >';
                    }
            }, {
                field: 'agent',
                title: 'Agent',
                template: function (row) {
                    var result = "";
                    $.ajax({
                        url: "@Environment.GetEnvironmentVariable("ApiEndpoint")"+"/Customer/"+ row.agent,
                        data: {},
                        dataType: 'json',
                        traditional: true,
                        async: false,
                        success: function (data) {
                            result = data;
                        }
                    });
                    return result.data.companyName;
                }
            }, {
                field: 'shipper',
                title: 'Shipper',
                template: function (row) {
                    var result = "";
                    $.ajax({
                        url: "@Environment.GetEnvironmentVariable("ApiEndpoint")"+"/Customer/"+ row.shipper,
                        data: {},
                        dataType: 'json',
                        traditional: true,
                        async: false,
                        success: function (data) {
                            result = data;
                        }
                    });
                    return result.data.companyName;
                }
            }, {
                field: 'submittedDate',
                title: 'Created Date',
                template: function (row) {
                    return row.submittedDate.substring(0, 10);
                    },
            }]
        });

        datatable.sort('submittedDate', 'desc');

        $('#kt_datatable_search_status').on('change', function () {
                datatable.search($(this).val(), 'status');
        });

        $('#kt_datatable_search_type').on('change', function () {
                datatable.search($(this).val(), 'typeId');
        });

        $('#kt_datatable_search_status, #kt_datatable_search_type').selectpicker();

        $(datatable.table).on('click', 'tbody tr', function () {
            var data = $(this).children("td").eq(0).text();
            $.ajax({
                url: "/KAM/Operation/GetOperationDetails/",
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                processData: true,
                success: function (result) {
                    location.href = "/KAM/OperationView/";
                }
            })
        });
    };

    $(document).ready(function () {
        initDataTable();
    });
</script>
