@model Socoro.Web.Areas.KAM.Models.OperationIntViewModel

<div class="modal fade" id="viewInfo" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Relevant Operation Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="bg-white rounded p-10">
                    <!--begin::Card-->
                    <div class="card card-custom card-fit card-border">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Agent</h3>
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <p><strong>Company Name</strong>: <span class="AgentCompany"></span></p>
                            <br />
                            <p><strong>Email Address</strong>: <span class="AgentEmail"></span></p>
                            <br />
                            <p><strong>Phone Number</strong>: <span class="AgentPhone"></span></p>
                            <br />
                            <p><strong>Contact Name</strong>: <span class="AgentName"></span></p>
                            <br />
                        </div>
                    </div>
                    <br />
                    <!--end::Card-->
                    <div class="card card-custom card-fit card-border">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Shipper</h3>
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <p><strong>Company Name</strong>: <span class="ShipperCompany"></span></p>
                            <br />
                            <p><strong>Email Address</strong>: <span class="ShipperEmail"></span></p>
                            <br />
                            <p><strong>Phone Number</strong>: <span class="ShipperPhone"></span></p>
                            <br />
                            <p><strong>Contact Name</strong>: <span class="ShipperName"></span></p>
                            <br />
                        </div>
                    </div>
                    <br />
                    <div class="card card-custom card-fit card-border">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Consignee</h3>
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <p><strong>Company Name</strong>: <span class="ConsigneeCompany"></span></p>
                            <br />
                            <p><strong>Email Address</strong>: <span class="ConsigneeEmail"></span></p>
                            <br />
                            <p><strong>Phone Number</strong>: <span class="ConsigneePhone"></span></p>
                            <br />
                            <p><strong>Contact Name</strong>: <span class="ConsigneeName"></span></p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>